.main-menu {
    .icon {
      font-size: 16px;
    }
    .nav-link {
      width: 105px;
    }
    .w-train {
      width: 130px;
      text-align: center;
    }
    .w-blog {
        width: 50px;
        text-align: center;
    }
    .w-hire {
        width: 100px;
        text-align: center;
    }
    .w-search {
        width: 100px;
        text-align: center;
    }
    .w-cont {
        text-align: center;
        width: 70px;
    }
    .w-about {
        text-align: center;
        width: 100px;
    }
   }